body{
  font-size: .8em;
}
tr{
  margin: auto;
  text-align: center;
}
td, th{
  margin: auto;
  text-align: center;
  border-style: solid none solid none;
}
.sin{
  border-style: none none none none;
}
#gy{
  width: 200px;
  height: 50px;
}