<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static',filename='image/favicon.ico') }}" type="image/x-icon">
	<title> {% block title%} {% endblock %}</title>
</head>

<body id="fondo">
	<img src="{{ url_for('static',filename='image/logo.jpg') }}" alt="logo goodyear">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #133984">
		<a class="nav-link" href="/inicio"><img src="{{ url_for('static',filename='image/logo2.jpg') }}" alt="logo de goodyear"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/inicio">INICIO<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
						NUEVA RECETA 
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SINCRONIZAR
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Base de Datos a PLC</a>
						<a class="dropdown-item" href="#">PLC a Base de Datos</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
				<div class="dropdown">
					<button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false">
						OPCIONES
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="/exportar">Exportar</a>
						<a class="dropdown-item" href="/salir">Salir</a>
					</div>
				</div>
			</form>
		</div>
	</nav>
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Seleccione el tipo de Receta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<a href="/nueva_receta_simple" class="btn btn-primary">RECETA DE 1 COMPUESTO</a>
					<a href="/nueva_receta" class="btn btn-primary">RECETA DE 2 COMPUESTOS</a>
				</div>
			</div>
		</div>
	</div>

	{% block content %}

	{% endblock %}

	<script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>

</html>